$primary-pink: #EC2059;
$md-grey: #DFDFDF;
$lt-grey: #F4F4F7;
$drk-grey: #6A6C75;
$mint: #2FEEB8;
$heap-pink: #EF3974;
$heap-orange: #F4792B;
$body-text: #4A4A4A;
* {
    font-family: 'Proxima Nova', Arial, sans-serif;
    color: $body-text;
}

.head-bar {
    background-color: $primary-pink;
    border-bottom: 1px solid white;
}

.head-logo {
    width: 130px;
    margin: 15px 0px 15px 30px;
}

.head-text-block {
    background-color: $primary-pink;
}

h1 {
    font-family: 'Proxima Nova', Arial, sans-serif;
    color: white;
    font-size: 2.8em;
    font-weight: 500;
    margin: 35px 0;
    @media screen and (max-width: 400px) {
        font-size: 2em;
        margin: 20px 10px 20px 20px;
    }
}

.grey-bar {
    background-color: $md-grey;
}

.analysis-image {
    width: 42px;
    margin: 20px 10px 20px 0;
    display: inline;
}

.analysis {
    background-image: url('../img/prodAnalysis_icon_2x_v2.png');
    background-repeat: no-repeat;
    background-size: 57px;
    background-position: left center;
}

.feedback {
    background-image: url('../img/feedback_icon_2x_v2.png');
    background-repeat: no-repeat;
    background-size: 57px;
    background-position: left center;
}

.guides {
    background-image: url('../img/guides_icon_2x_v2.png');
    background-repeat: no-repeat;
    background-size: 57px;
    background-position: left center;
}

.announcements {
    background-image: url('../img/announcements_icon_2x_v2.png');
    background-repeat: no-repeat;
    background-size: 57px;
    background-position: left center;
}

h2 {
    color: $primary-pink;
    font-size: 18px;
    margin: 20px 0 5px 70px;
    font-weight: 500;
}

.analysis p,
.feedback p,
.guides p,
.announcements p {
    font-size: 14px;
    margin: 0 10px 20px 70px;
}

.left-block {
    padding: 30px;
}

.left-block p {
    font-size: 15px;
    line-height: 1.5em;
    margin-top: 10px;
}

h3 {
    font-family: 'Proxima Nova', Arial, sans-serif;
    color: $primary-pink;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
    @media screen and (max-width: 400px) {
        margin-top: 15px;
    }
}

.grid-sub {
    font-size: 14px;
    line-height: 1.5em;
    color: $primary-pink;
    text-align: center;
}

.right-block {
    padding: 40px;
    @media screen and (max-width: 400px) {
        padding: 10px 0;
    }
}

h4 {
    color: $primary-pink;
    font-family: 'Proxima Nova', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

//v2 specific
#headline h1 {
    color: $drk-grey;
    font-size: 35px;
    text-align: center;
    @media screen and (max-width: 400px) {
        font-size: 28px;
    }
}

#cardio .cardio-block {
    padding: 0 25px;
    @media screen and (max-width: 400px) {
        padding: 5px;
    }
}

#quote-block {
    padding: 10px;
    border: 1px solid $drk-grey;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    @media screen and (max-width: 400px) {
        display: none;
    }
}

#quote-block-mobile {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid $drk-grey;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    @media screen and (min-width: 401px) {
        display: none;
    }
}

#quote-block p {
    color: $drk-grey;
}

.pink {
    color: $primary-pink;
    font-weight: 600;
}

.low-caption {
    font-size: 1em;
    color: $drk-grey;
}

.logo-row {
    padding: 30px;
}

#logos img {
    display: inline-block;
    width: 15%;
    margin: 10px 30px;
    @media screen and (max-width: 400px) {
        display: block;
        margin: 20px;
        width: 60%;
    }
}

#icon-block-mobile {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    #icon-block-top,
    #body-text-desktop {
        display: none;
    }
}

@media screen and (min-width: 401px) {
    #body-text-mobile,
    #icon-block-mobile {
        display: none;
    }
}