$primary-pink: #EC2059;
$md-grey: #DFDFDF;
$lt-grey: #F4F4F7;
$drk-grey: #6A6C75;
$mint: #2FEEB8;
$heap-pink: #EF3974;
$heap-orange: #F4792B;
$body-text: #4A4A4A;
* {
    font-family: 'Proxima Nova', Arial, sans-serif;
    color: $body-text;
}

.head-bar {
    background-color: $primary-pink;
    border-bottom: 1px solid white;
}

.head-logo {
    width: 130px;
    margin: 15px 0px 15px 30px;
}

.head-text-block {
    background-color: $primary-pink;
}

h1 {
    font-family: 'Proxima Nova', Arial, sans-serif;
    color: white;
    font-size: 2.8em;
    font-weight: 500;
    margin: 35px 0;
}

.grey-bar {
    background-color: $md-grey;
}

.analysis-image {
    width: 42px;
    margin: 20px 10px 20px 0;
    display: inline;
}

.analysis {
    background-image: url('http://go.pendo.io/rs/185-LQW-370/images/prodAnalysis_icon_2x.png');
    background-repeat: no-repeat;
    background-size: 52px;
    background-position: left center;
}

.feedback {
    background-image: url('http://go.pendo.io/rs/185-LQW-370/images/feedback_icon_2x.png');
    background-repeat: no-repeat;
    background-size: 52px;
    background-position: left center;
}

.guides {
    background-image: url('http://go.pendo.io/rs/185-LQW-370/images/guides_icon_2x.png');
    background-repeat: no-repeat;
    background-size: 52px;
    background-position: left center;
}

.announcements {
    background-image: url('http://go.pendo.io/rs/185-LQW-370/images/announcements_icon_2x.png');
    background-repeat: no-repeat;
    background-size: 52px;
    background-position: left center;
}

h2 {
    color: $primary-pink;
    font-size: 18px;
    margin: 20px 0 5px 65px;
    font-weight: 500;
}

.analysis p,
.feedback p,
.guides p,
.announcements p {
    font-size: 14px;
    margin: 0 10px 20px 70px;
}

.left-block {
    padding: 30px;
}

.left-block p {
    font-size: 15px;
    line-height: 1.5em;
    margin-top: 10px;
}

h3 {
    font-family: 'Proxima Nova', Arial, sans-serif;
    color: $primary-pink;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

.grid-sub {
    font-size: 14px;
    line-height: 1.5em;
    color: $primary-pink;
    text-align: center;
}

.right-block {
    padding: 40px;
    @media screen and (max-width: 400px) {
        padding: 10px 0;
    }
}

h4 {
    color: $primary-pink;
    font-family: 'Proxima Nova', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
}