.footer-wrap {
    height: 100%;
}

.footer-bar {
    background-color: $md-grey;
    padding: 80px 0 15px 0;
    height: 100%;
}

.footer-bar p {
    font-size: 12px;
}

.footer-bar a {
    color: $body-text;
}